input{
    margin: 10px;
    font-size: large;
    border: solid 2px black;
    border-radius: 10px;
}

label{

    color: black;
    font-style: oblique;
    margin-right: 12px;
   
}

#bit{
    padding: 12px;
    border-radius: 12px;
    border: 2px solid black;
    width: 125px;
  
}

form{
    margin-top: 50px;
}

h1{
    color: orange;
    margin-top: 70px;
}